FIREBASECONFIG = '{"apiKey":"apikey","authDomain":"lunchapals","databaseURL":"https://lunchapals.com","projectId":"lunchapals","storageBucket":"lunchapals.appspot.com","messagingSenderId":"0000","appId":"1:99:web:fds"}'